.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.ent-search-box{
  width: 100%;
  display: flex;
  align-items: center;
  height: auto  ;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2px #f8f8f8;
}

.search-button {
  padding: 0.63rem 1.5rem;
  background-color: #e50914;
  color: white;
  border-radius: 0px 8px 8px 0px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
  outline: none;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #ac0109;
  outline: none;  
}

.search-input-wrapper {
  position: relative;
  align-items: center;
  flex: 1;        
  outline: none;      
}

.search-input {
  width: 100%;         
}

.search-clear-btn {
  position: absolute;
  right: 10px; 
  align-self: center;
  top: 47%;       
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #999;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;

}

.search-clear-btn:hover {
  color: white;
  outline: none;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.tab-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tab-btn:hover {
  background-color: #333;
}

.tab-btn.active {
  background-color: #e50914;
  color: white;
}